#logo {
    width: 150px;
    height: 150px;
}

#boton-buscar {
    border-color: #f83f3f;
    color: #f83f3f;
}

#boton-buscar:hover {
    background-color: #f83f3f;
    color: white;
}

.card {
    height: 100%;
    width: 18rem;
}

.col-md-3 {
    background-color: #f83f3f;
    height: 200px;
    font-size: 20px;
}

footer {
    width: 100%;
    height: auto;
    background-color: #e1e1e1;
    text-align: center;
    margin: 0 0 0;
    padding: 90px 0 39px;
    color: grey;
}

h1 {
    text-align: center;
}

ul li {
    list-style: none;
    display: inline;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 20px;
}

span {
    color: white;
    padding-left:30px;
}

.link {
    text-decoration: none;
    color: white;
}

#titulo {
    padding-top: 28%;
}