#logo {
    width: 150px;
    height: 150px;
}

#boton-buscar {
    border-color: #f83f3f;
    color: #f83f3f;
}

#boton-buscar:hover {
    background-color: #f83f3f;
    color: white;
}

footer {
    width: 100%;
    height: auto;
    background-color: #e1e1e1;
    text-align: center;
    margin: 0 0 0;
    padding: 90px 0 39px;
    color: grey;
}

h1 {
    text-align: center;
}

ul li {
    list-style: none;
    display: inline;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 20px;
}

span {
    color: white;
    padding-left:30px;
}

.link {
    text-decoration: none;
    color: white;
}

#carouselExampleCaptions {
    width: 20%;
    margin-left: 40%;
 }

#nombre {
    color: black;
}

img {
    width: 100%;
    
}