p {
    color: grey;
}

.link {
    text-decoration: none;
    color: white;
}

#socio {
    background-color: #ed1b2e;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    margin-left: 30%;
    #boton {
        text-decoration: none;
        color: white;
    }
}
