#carouselExampleCaptions {
    width: 20%;
    margin-left: 40%;
 }

h1 {
    text-align: center;
    color: white;
}

img {
    width: 100%;
}

.armani {
    color: white;
}

#nombres {
    color: black;
}